<div class="page-header">
  <h1>Toys!</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th> Toy Name </th>
      <th> Cat </th>
    </tr>
  </thead>
  <tbody>
    <% @toys.each do |toy| %>
      <tr>
        <td>
          <%= link_to toy.name, toy_path(toy) %>
        </td>
        <td>
          <% @cats.each do |cat| %>
            <% if toy.cat_id == cat.id %>
              <%= link_to cat.name, cat_path(toy.cat_id) %>
            <% end %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
